/* css for paging */
div .FirstPage {
    width: 22px;
    height: 22px;
    background-image: url('images/button_page_first.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
.FirstPageHover {
    background-image: url('images/button_page_first_hover.png') !important;
}
div .PreviousPage {
    width: 22px;
    height: 22px;
    background-image: url('images/button_page_left.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
.PreviousPageHover {
    background-image: url('images/button_page_left_hover.png') !important;
}
div .NextPage {
    width: 22px;
    height: 22px;
    background-image: url('images/button_page_right.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
.NextPageHover {
    background-image: url('images/button_page_right_hover.png') !important;
}
div .LastPage {
    width: 22px;
    height: 22px;
    background-image: url('images/button_page_last.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
.LastPageHover {
    background-image: url('images/button_page_last_hover.png') !important;
}
#pager_control {
    float:right;
    border: 1px solid #B1BAC2;
    background-color: white;
}
.inline {
    float: left;
    position: relative;
    margin: 0 2px 0 2px;
    font-weight : normal;
}
/* end css paging */
