
        @import url("combo/nitobi.reset.css");
    
        @import url("combo/basicgrey/nitobi.combo.css");
    
        @import url("combo/bluetrim/nitobi.combo.css");
    
        @import url("combo/cmail/nitobi.combo.css");
    
        @import url("combo/contactsearch/nitobi.combo.css");
    
        @import url("combo/desktopsearch/nitobi.combo.css");
    
        @import url("combo/flex/nitobi.combo.css");
    
        @import url("combo/ice/nitobi.combo.css");
    
        @import url("combo/outlook/nitobi.combo.css");
    
        @import url("combo/outlookmini/nitobi.combo.css");
    
        @import url("combo/recordsearch/nitobi.combo.css");
    
        @import url("combo/suggests/nitobi.combo.css");
    
        @import url("combo/tiger/nitobi.combo.css");
    
        @import url("combo/vista/nitobi.combo.css");
    
        @import url("combo/visualstudio/nitobi.combo.css");
    
        @import url("combo/winofficexp/nitobi.combo.css");
    
        @import url("combo/winxpblue/nitobi.combo.css");
    
        @import url("combo/winxpsilver/nitobi.combo.css");
    .nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}